<div class="container jts-top-space-1x">

  <!-- Loading icon disaplay -->
  <div ng-hide="jvmProperties.$resolved">
    <div ng-include src="'partials/common-html/loading.html'"></div>
  </div>

  <div ng-show="jvmProperties.$resolved"> <!-- Main Message -->

    <div class="col-lg-12">
      <div class="card-pf  card-pf-accented">
        <div class="card-pf-body">
          <legend><small><small>JVM Properties</small></small></legend>

          <dl class="dl-horizontal">
            <span ng-repeat="(name, value) in jvmProperties"><dt uib-tooltip="{{name}}" tooltip-placement="top">{{name}}</dt> <dd>{{value}}</dd></span>
          </dl>

        </div>
      </div>
    </div>

  </div> <!-- Main Message -->

</div> <!-- Container-fluid -->
